<div class="container">
    <div class="row">
         <div class="col-lg-5 col-lg-offset-3">
    <h1 id="form_title_1">Welcome To Our</h1>
    <h1 id="form_title_2">ANAGRAM GENERATOR</h1>
        </div>
    </div>
</div>
    <form action="/" method="post" class="form">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-3">
                <label for="word">Enter a word</label>
                <input type="text" class="form-control" name="word">
                <button type="submit" class="btn btn-primary">Show me my Anagrams!</button>
            </div>
        </div>
    </form>
